section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.score-board {
    border: 1px solid black;
    width: 110px;
    height: 110px;
    text-align: center;
    margin-right: 40px;
    border-radius: 10px;
}

.grid {
    height: 640px;
    width: 640px;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    height: 80px;
    width: 80px;
    background-size: auto;
    background-repeat: no-repeat;
}
